<body>
    <!--Menu Lateral-->

<div id="myMenu" class="sidenav">
    <h1>&#9776;Menu</h1><a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="http://localhost:4200/map">Google Map</a>
        <a href="http://localhost:4200/mapindex">Mapa de Clientes</a>
        <a href="http://localhost:4200/mapamarcas">Mapa de Marcas</a>
        <a href="http://localhost:4200/mapgasto">Mapa de Gastos dos clientes</a>
    <button>Sair</button>
</div>

<!--Barra-->
<mat-toolbar class="bar">
    <mat-toolbar-row>
        <span (click)="openNav()">&#9776;Menu</span>
        <span class="spacer"></span>
        <div class="container">
            <img src="../../assets/LOGO-PARA-LARANJA.png"/>
        </div>        
    </mat-toolbar-row>
</mat-toolbar>

<!--Botoes-->
<button class="buttonStyle1" (click)="showMap()">Mostrar/Limpar Mapa</button>
<button class="buttonStyle2" (click)="addHeatMap()"> Mostrar Markers </button>

<!--<div class="container">
    <div class="row">
        <div class="searchInput">
            <input type="text" class="searchField">
            <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="search"></label>
        </div>
    </div>
</div>-->


<!--Mapa-->
<div #map id="map"></div>
<div #infoPessoa id="infoPessoa"></div>
<div #info id="info"></div>

</body>