<body>
    <!--Menu Lateral-->
    <div id="myMenu" class="sidenav">
        <h1>&#9776;Menu</h1>
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a href="http://localhost:4200/map">Google Map</a>
        <a href="http://localhost:4200/mapindex">Mapa de Clientes</a>
        <a href="http://localhost:4200/mapamarcas">Mapa de Marcas</a>
        <a href="http://localhost:4200/mapgasto">Mapa de Gastos dos Clientes</a>
        <!-- <button>Sair</button> -->
    </div>

    <!--Barra-->
    <mat-toolbar class="bar">
        <mat-toolbar-row>
            <span (click)="openNav()">&#9776;Menu</span>
            <span class="spacer"></span>
            <div class="container">
                <img src="../../assets/LOGO-PARA-LARANJA.png" />
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-tab-group class="demo-tab-group">
        <mat-tab label="Mapa">
            <div id="container">
                <div class="loading">
                    <i class="icon-spinner icon-spin icon-large icon-css"></i>
                        </div>
                        <h1>Carregando dados do servidor, aguarde um momento...</h1>
                        </div>
            </mat-tab>
            <mat-tab label="Relatorio">
                            <div id="relatorio">
                                <h1>Relatório</h1>
                                    <mat-paginator [length]="length"   [pageSize]="10"   [pageSizeOptions]="[5, 10, 25, 100]" >
                                    </mat-paginator>
                                        <!-- <mat-list *ngFor="let local of jsonRelatorio">
                                        <mat-list-item>{{ local.nome }} : {{ local.valor }}</mat-list-item>
                                        <mat-divider></mat-divider>
                                        </mat-list> -->
                            </div>
            </mat-tab>
            <mat-tab label="Gerar PDF">
                    <div  id="gerarPDF">
                            Digite o nome do Arquivo:
                            <input matInput [(ngModel)]="nome">
                       <mat-button-toggle (click)="convert()">Salvar Busca</mat-button-toggle>
                    </div>
            </mat-tab>

            
            
    </mat-tab-group>

</body>