<body>  
    <!--Menu Lateral-->
    <div id="myMenu" class="sidenav">
        <h1>&#9776;Menu</h1><a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a href="http://localhost:4200/map">Google Map</a>
        <a href="http://localhost:4200/mapindex">Mapa de Clientes</a>
        <a href="http://localhost:4200/mapamarcas">Mapa de Marcas</a>
        <a href="http://localhost:4200/mapgasto">Mapa de Gastos dos clientes</a>
        <button>Sair</button>
    </div>

    <!--Barra-->
    <mat-toolbar class="bar">
        <mat-toolbar-row>
            <span (click)="openNav()">&#9776;Menu</span>
            <span class="spacer"></span>
            <div class="container">
                <img src="../../assets/LOGO-PARA-LARANJA.png"/>
            </div>        
        </mat-toolbar-row>
    </mat-toolbar>

    <!--Botoes-->
    <!-- <button class="buttonStyle1" (click)="action()">Mostrar/Limpar Mapa</button>
    <button class="buttonStyle2"> Mostrar Markers </button> -->

    <div id="container">
        <div class="loading">
            <i class="icon-spinner icon-spin icon-large icon-css"></i>
        </div>
        <h1>Carregando dados do servidor, aguarde um momento...</h1>
    </div>
</body>