<body>
    <!--Menu Lateral-->

<div id="myMenu" class="sidenav">
    <h1>&#9776;Menu</h1><a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#">Favoritos</a>
    <a href="#">Relatórios</a>
    <a href="#">Clientes</a>
    <a href="#">Configurações</a>
    <a href="http://localhost:4200/map">Google Map</a>
    <a href="http://localhost:4200/highmap">HighMaps</a>
    <button>Sair</button>
</div>

<!--Barra-->
<mat-toolbar class="bar">
    <mat-toolbar-row>
        <span (click)="openNav()">&#9776;Menu</span>
        <span class="spacer"></span>
        <div class="container">
            <img src="../../assets/LOGO-PARA-LARANJA.png"/>
        </div>        
    </mat-toolbar-row>
</mat-toolbar>

<!--Botoes-->
<button class="buttonStyle1" (click)="action()">Mostrar/Limpar Mapa</button>
<button class="buttonStyle2"> Mostrar Markers </button>

<!--<div class="container">
    <div class="row">
        <div class="searchInput">
            <input type="text" class="searchField">
            <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="search"></label>
        </div>
    </div>
</div>-->


<!--Map Brazil with Points-->
<!--<div id="container"></div>

<input type="radio" name="series" value="points" id="points" checked="checked" />-->


<!--Map Brazil with Color-->

<div id="mapa"></div>



</body>




